/* Variables */
:root {
    --primary-color: #000000;
    --secundary-color: #DB2225;
    --terciary-color: #F9C88F;

    --primary-color-alt: #030202;
    --secundary-color-alt: #7F2A17;
    --terciary-color-alt: #dad5c0;

    --kid-a-blue: #2D4E7E;
    --kid-a-grey: #a2a49f;

    --width-desktop: 1440px;
    --width-laptop: 1024px;
    --width-table: ;
    --width-mobile: ;
}

@font-face {
    font-family: bdplakatt;
    src: url(../assets/fonts/BD_Plakatbau.otf);
}

@font-face {
    font-family: radiohead;
    src: url(../assets/fonts/radiohead.ttf);
}

/* Valores iniciales*/
* ::selection{
    background-color: var(--secundary-color-alt);
}

body{
    background-color: var(--primary-color);
}

/* Estilos generales */
.flex-container {
    display: flex;
    justify-content: center;
}

.flex-center {
    width: 100%;
    max-width: 1200px;
}

p {
    font-size: 18px;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* Estilos del Header y del navBar*/
nav.navbar {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secundary-color);
}

nav.home-navbar {
    background-color: var(--secundary-color);
}

section.navbar-align {
    justify-content: space-between;
    align-items: baseline;
}

section.logo-item a {
    color: var(--secundary-color);
    font-size: 60px;
    font-family: bdplakatt;
    text-decoration: none;
}

section.logo-item a.home-item {
    color: var(--primary-color);
}

ul.nav-list{
    display: flex;
    list-style-type: none;
}

ul.nav-list li {
    padding: 0 10px;
    font-size: 35px;
    font-family: bdplakatt;
    letter-spacing: 2px;
}

ul.nav-list li:hover:not(.active) {
    text-decoration: underline;
}

ul.nav-list li.active{
    text-decoration: underline;
}

ul.nav-list li > a {
    color: var(--secundary-color);
    text-decoration: none;
} 

ul.nav-list li.home-item > a {
    color: var(--primary-color);
}

/* Estilos del Footer */
footer section.footer-background{
    background: linear-gradient(to right, rgba(3,2,2,1), rgba(45,78,126,1), rgba(127,42,23,1), rgba(3,2,2,1));
}

footer ul.footer-list {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px 0 20px;
}

ul.footer-list li.text-footer {
    margin: 5px 0 15px;
    color: var(--primary-color-alt);
}

li.footer-icons i.fab {
    padding: 0 50px;
    font-size: 30px;
}

li.footer-icons i.fa-youtube {
    color: #FF0000;
}
li.footer-icons i.fa-deezer {
    color: #ffed00;
}
li.footer-icons i.fa-spotify {
    color: #1DB954;
}
li.footer-icons i.fa-twitter {
    color: #00acee;
}
li.footer-icons i.fa-instagram {
    color: #cd486b;
}
li.footer-icons i.fa-tiktok {
    color: #00f2ea;
}

/* Estilos del Home */
article.home-article *{
    color: var(--terciary-color-alt);
}

article.home-article h1 > a {
    color: var(--secundary-color);
    font-size: 45px;
    font-family: bdplakatt;
    text-decoration: none;
    letter-spacing: 3px;
}

article.home-article p {
    margin: 0;
}

/* Estilos de biography.html */
main section.biography-background {
    background-image: url(../assets/images/biography-background.png);
    background-size: 100%;
}

section.biography-background section.biography-text-background {
    background-color: rgb(3, 2, 2, 0.8);
    margin-top: 200px;
}

section.biography-text-background article.biography-text {
    padding: 20px 50px;
    color: var(--terciary-color-alt);
}

article.biography-text h1 {
    color: var(--secundary-color);
    font-family: bdplakatt;
    font-size: 45px;
    letter-spacing: 3px;
}

/* Estilos de musica_videos.html */
ul.album-container {
    margin: 50px 0;
}

ul.album-container>li.album-name h3 {
    color: var(--primary-color-alt);
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    padding: 5px 0;
}

ul.album-container>li.album-name h3#kid-amnesiac {
    background-image: linear-gradient(to right, var(--primary-color), var(--secundary-color), var(--terciary-color));
}

ul.album-container>li.album-name h3#moon-shaped-pool {
    background-image: linear-gradient(to right, #1d1b1b, #8e8d90, #c9c8cd, #f8f9fb);
}

ul.album-container>li.album-name h3#kings-of-limbs {
    background-image: linear-gradient(to right, #2b2722,#ef7866,#7e371b,#cbc8c8,#f0c639,#a18f50);
}

ul.album-container>li.album-name h3#in-rainbows {
    background-image: linear-gradient(to right, #060405,#e76c2f,#f3e95d,#51af4c,#4c85be,#E3282E);
}

ul.album-container>li.album-name h3#hail-to-the-thief {
    background-image: linear-gradient(to right, #23341c,#657ea2,#f2590b,#344d21,#e0e2d6,#ab4319);
}

ul.album-container>li.album-name h3#amnesiac {
    background-image: linear-gradient(to right, var(--primary-color), var(--secundary-color), var(--terciary-color));
}

ul.album-container>li.album-name h3#kid-a {
    background-image: linear-gradient(to right, var(--primary-color-alt), var(--terciary-color-alt), var(--kid-a-blue), var(--secundary-color-alt), var(--kid-a-grey));
}

ul.album-container>li.album-name h3#ok-computer {
    background-image: linear-gradient(to right, #e5ebf3,#9db5cc,#6993cc,#24232e);
}

ul.album-container>li.album-name h3#the-bends {
    background-image: linear-gradient(to right, #050001,#f3d879,#ec150f,#88632c);
}

ul.album-container>li.album-name h3#pablo-honey {
    background-image: linear-gradient(to right, #e1e7dc,#f1ce44,#200e1d,#ae7f2a);
}

ul.album-container li.album-media {
    justify-content: space-around;
}

li.album-media>div.album-cover img {
    width: 300px;
    height: 300px;
}

li.album-media>div.album-video iframe {
    width: 500px;
    height: 300px;
}