/* Variables */
:root {
    --primary-color: #000000;
    --secundary-color: #DB2225;
    --terciary-color: #F9C88F;

    --primary-color-alt: #030202;
    --secundary-color-alt: #7F2A17;
    --terciary-color-alt: #dad5c0;

    --kid-a-blue: #2D4E7E;
    --kid-a-grey: #a2a49f;

    --width-desktop: 1440px;
    --width-laptop: 1024px;
    --width-table: ;
    --width-mobile: ;
}

@font-face {
    font-family: bdplakatt;
    src: url(../assets/fonts/BD_Plakatbau.otf);
}

@font-face {
    font-family: radiohead;
    src: url(../assets/fonts/radiohead.ttf);
}

/* Valores iniciales*/
* ::selection{
    background-color: var(--secundary-color-alt);
}

body{
    background-color: var(--primary-color);
}

/* Estilos del Header y del navBar*/
nav.navbar {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secundary-color);
}

nav.home-navbar {
    background-color: var(--secundary-color);
}

section.navbar-align {
    justify-content: space-between;
    align-items: baseline;
}

section.logo-item a {
    color: var(--secundary-color);
    font-size: 60px;
    font-family: bdplakatt;
    text-decoration: none;
}

section.logo-item a.home-item {
    color: var(--primary-color);
}

ul.nav-list{
    display: flex;
    list-style-type: none;
}

ul.nav-list li {
    padding: 0 10px;
    font-size: 35px;
    font-family: bdplakatt;
    letter-spacing: 2px;
}

ul.nav-list li:hover:not(.active) {
    text-decoration: underline;
}

ul.nav-list li.active{
    text-decoration: underline;
}

ul.nav-list li > a {
    color: var(--secundary-color);
    text-decoration: none;
} 

ul.nav-list li.home-item > a {
    color: var(--primary-color);
}

/* Estilos del Footer */
footer ul.footer-list {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(3,2,2,1), rgba(45,78,126,1), rgba(127,42,23,1), rgba(3,2,2,1));
    margin: 0;
    padding: 10px 0 20px;
    list-style-type: none;
}

ul.footer-list li.text-footer {
    margin: 5px 0 15px;
    color: var(--primary-color-alt);
}

li.footer-icons i.fab {
    padding: 0 50px;
    font-size: 30px;
}

li.footer-icons i.fa-youtube {
    color: #FF0000;
}
li.footer-icons i.fa-deezer {
    color: #ffed00;
}
li.footer-icons i.fa-spotify {
    color: #1DB954;
}
li.footer-icons i.fa-twitter {
    color: #00acee;
}
li.footer-icons i.fa-instagram {
    color: #cd486b;
}
li.footer-icons i.fa-tiktok {
    color: #00f2ea;
}

/* Estilos del Home */
article.home-article *{
    color: var(--terciary-color-alt);
}

article.home-article h1 > a {
    color: var(--secundary-color);
    font-size: 45px;
    font-family: bdplakatt;
    text-decoration: none;
    letter-spacing: 3px;
}

article.home-article p {
    margin: 0;
}

/* Estilos de biography.html */
main section.biography-background {
    background-image: url(../assets/images/biography-background.png);
    background-size: 100%;
}

section.biography-background section.biography-text-background {
    background-color: rgb(3, 2, 2, 0.8);
    margin-top: 200px;
}

section.biography-text-background article.biography-text {
    padding: 20px 50px;
    color: var(--terciary-color-alt);
}

article.biography-text h1 {
    color: var(--secundary-color);
    font-family: bdplakatt;
    font-size: 45px;
    letter-spacing: 3px;
}

/* Clases generales */
.flex-container {
    display: flex;
    justify-content: center;
}

.flex-center {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

p {
    font-size: 18px;
}